
.noto-serif-> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: 1rem;
  font-weight: bold;
  color: #252432;
}
* {
    margin: 0;
    padding: 0;
}
/* header part */
.header1{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.trolly{
    width: 24px;
    height: 16px;
    
} 
.nav-list a{
    text-decoration: none;
}
.image1{
    width: 135px;
    height: 82px;
}
.font-size{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #8987A1;
}
.font-size1{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #000000;
}

/* banner */
.banner{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.banner-sub1{
    /* margin-top: 162px; */
    margin-bottom: 0;
}
.hero-image{
    /* margin-top: 106px; */
    margin-bottom: 0;
}
.bonner-sub-color{
     font-family: "Noto Serif", serif;
     font-size: 4rem;
     font-weight: bold;
}
.span1{
    color: #E95A08;
}
.banner-sub-color1{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 13px;
}

/* main */
/* main-part1 */
.main-part1{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    /* text-align: center; */
}
.main-header{
    /* align-items: center; */
    text-align: center;
}
.main-title{
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px;
}
.span2{
    color: #E95A08;
}
.main-detail{
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    margin: 0 auto;
}
.card{
    margin-top: 49px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* gap: 20px; */
    row-gap: 30px;
    column-gap: 20px;
}
.card-item{
    width: 270px;
    text-align: center;
}
.card-image{
    width: 270px;
    height: 322.94px;
    margin-bottom: 30px;
}
.card-text1{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #111111;
    margin-bottom: 20px;
}
.card-text2{
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    color: #111111;
    margin-bottom: 30px;
}
.btn{
    width: 270px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
}

/* main-part2" */
.main-part2{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
    display: flex;
    height: 597px;
}
.main-part2-image{
    background-image: url(flower-store.png);
    width: 540px;
}

.part2-img2{
    width: 286px;
    height: 286px;
    margin-left: 347px;
    margin-top: -120px
    /* margin-top: -px;  */
    /* margin-bottom: -438px; */
}
.main-part2-text{
    max-width: 540px;
    height: 521px;
    margin-left: 60px;
    margin-top: 38px;
}
.part2-title{
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    font-weight: bold;
    color: #000000;
    /* margin-top: 38px; */
    margin-bottom: 20px;
}
.list-detail{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

/* main-part3 */
.main-part3{
    max-width: 1440px;
    margin-top: 133px;
    text-align: center;
}
.main-part3-title{
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px;
}
.span3{
    color: #E95A08;
}
.main-part3-sub{
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    margin: 0 auto;
}

/* main-part4 */
.main-part4{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    height: 425px;
    /* margin-bottom: 200px; */
    
    
 }
.rafe1{
    background-image: url('deal-bloom.png');
    width: 367px;
    height: 201px;
     margin-bottom: 25px; 
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
}

.rafe2{
    background-image: url('deal-ana.png'); 
    width: 367px;
    height: 198px;
    text-align: center;
    /* padding: 60px auto; */
    /* margin: 60 auto; */
    /* align-items: center; */
}


.part4-sub2{
    background-image: url(deal-zabo.png); 
    width: 753px;
    height: 423px;
    margin-left: 28px;
    text-align: center;
}
.part4-text1{
    font-family: "Noto Serif", serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}
.anchor{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
}
.part4-text3{
    font-family: "Noto Serif", serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.anchor1{
    font-family: "Inter", sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    color: #FFFFFF;
}




/* main-part5 */
.rafe{
    background-image: url('news-letter-bg.png');
    background-size: cover;
    height: 533px;
    /* width: 1440px; */
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 120px;
    /* padding: 193px auto; */
    /* padding: 60px 20px; Optional spacing */
}


.main-part-sub{
    width: 844px;
    height: 144px;
    /* display: flex; */
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    /* margin: 193px auto;  */
    /* margin-top: 193px; */
}
.part5-detail{
    display: flex;
}
input{
    width: 644px;
    height: 50px;
    border: 1px solid tomato; 
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    margin-top: 23px;
}
.btn2{
    width: 186px;
    height: 50px;
    color: #FFFFFF;
     background-color: #E95A08; 
    border: none;
    margin-top: 23px;
}
.part5-title{
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    font-weight: bold;
    color: #FFFFFF;
    /* margin: 0 auto; */
    text-align: center;
    /* margin-top: 196px; */
}



 /* background-image: url(deal-zabo.png);  */
/* footer */
.footer-sec{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
}
.footer-sec1{
    width: 359px;
}
.footer-sec2{
    width: 85px;
    margin-left: 110px;
}
.footer-sec3{
    width: 128px;
    margin-left: 110px;
}
.footer-sec4{
    margin-left: 110px;
    width: 236px;
    justify-content: space-between;
}
.icon{
    margin-left: 18px;
}
.footer-sec a{
    text-decoration: none;
}
.footer-list{
    list-style: none;
}
.footer-sec-text{
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
}
.footer-list a{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: gray;
    
}
.footer-list{
    margin-bottom: 32px;
} 


